<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

      <section class="courses container">

        <%- include('./partials/all_courses.ejs') %>

      </section>

      <%- include('./partials/footer.ejs') %>

  </body>

</html>