<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <section class="search-home">
      <img src="/img/logo.png" alt="Workbay Logo" />
      <form action="/courses">
        <input type="search" name="search" placeholder="Search" />
      </form>
    </section>

    <%- include('./partials/footer.ejs') %>
  </body>

</html>